body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    background:#eee;
}


/*controls*/
nav{
    display:flex;
    flex-wrap:wrap;
    background: #3b4045;
}
.CodeMirror{
    border: 1px solid lightgray;
    margin:0 12px 12px 12px;
    font-size:15px;
    height:auto;
    width:100%;
}
input, select{
    padding: 4px;
    font-size: 14px;
    background: white;
    border: none;
    margin: 12px;
}
button{
    margin: 12px 0px;
    padding: 4px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #ddd;
    border: none;
    color: white;
    margin: 12px;
}
/*simple combobox implementation (text input + select)*/
.combobox{
    display:flex;
}
.combobox input{
    flex-grow:1;
    margin-left:0;
    border-left:1px solid gray;
}
.combobox select{
    width:20px;
    margin-right:0;
    cursor:pointer;
    border-right:12px solid white;
    box-sizing:content-box;
}


/*result*/
.table-container{
    padding:12px
}
table{
    background:white;
    width:100%;
    border: 1px solid lightgray;
    border-bottom:none;
    border-collapse:collapse;
}
td, th{
    border-bottom: 1px solid lightgray;
    padding: 12px;
}



@media(max-width:575.912px){
    .combobox{
        width: 100%;
    }
    .combobox input{
        margin:12px 12px 0 0;
    }
    .combobox select{
        margin:12px 0 0 12px;
    }
    .table-container{
        padding:0
    }
    .CodeMirror{
        margin:0 2px 12px 2px;
    }

}